.mainAddV{
    width: 100%;
    height: 100%;
    margin-top: 10%;
}

.cardAddV{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 12px;
    display: grid;
    grid-template-columns: repeat(1, 300px);
    justify-items: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    height: 100%;
    width: auto;
}

.cardAddV h2{
    color: #8b5cf6;
    font-weight: bold;
}
.cardAddV form label{
    margin-bottom: 10px;
}

.cardAddV form span{
    font-size: large;
}
.cardAddV form input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    background-color: rgb(235, 233, 230);
    padding: 3px 15px;
}
.cardAddV form select{
    width: 300px;
    border-radius: 10px;
    padding: 3px;
}

.cardAddV form .btn{
    margin-top: 20px;
    background-color: #8b5cf6;
    color: white;
    font-weight: bold;
}