/* .container{
    width: 180%; 
    height: 97%; 
    background-color: #FFFFFF; 
    border-radius: 5px; 
    border: 1px solid #000000;
}

.container table{
    text-align: ;
}

/* .table-responsive{
    text-align: center;
} */ 